#star_wrapper {
}

input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
  }
  
label {
    position: relative;
    float: right;
    color: #C8C8C8;
}

label:before {
    margin: 5px;
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

input:checked ~ label:before {
    color: #FFC107;
}

label:hover ~ label:before {
    color: #ffdb70;
}

label:hover:before {
    color: #FFC107;
}
