<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='chatbox.css') }}">


    </head>
    <body>  {% if 'user' in session %}
        <div class="l_c_h" style="width: 25%;position: fixed;" id="myForm" >
            <div class="c_h">
                <div class="left_c" >
                    <div class="left right_c left_icons" style="background-color: #1A1A1A;">
                           <a href="#" class="mini glow" style="font-size:33px;">+</a>
                    </div>
                    <div class="left center_icons" style="margin-left: 12px;"><!--center_icons-->
                         Chatbot
                    </div><!--end center_icons-->        	
                </div>
                <div class="right right_c" style="width:35px;">
                    <a href="#" class="logout" title="End chat" name="" style="display:none;"><img src="chat/logout.png"></a>        	
                </div>
                <div class="clear"></div>
            </div>
            <div class="chat_container" style="height:400px;">
         
            
            <div class="chat_message" style="display: none;">
            <input type="hidden" class="my_user" value="">
                    </div>
                <div class="chat_text_area" style="display:none;">
                    <textarea name="messag_send" class="messag_send" id="messag_send" placeholder="Enter Your Message and press CTRL"></textarea>
                </div>
                <div class="chat_entry">
                       <form name="chat_form" class="chat_form has-validation-callback" id="chat_form" action="{{ url_for('quer') }}" method="post">
                    
                      <p>
                          <input type="text" name="msg" id="email_chat" class="email_chat" style="color: #1A1A1A; margin-top:35px;" placeholder="Enter Your message" required>
                      </p>
                      
                          <input type="submit" name="chat_submit" class="chat_submit" id="chat_submit" style="margin-top:215px;" value="Start Chat">
                      </p>
                    </form>
                </div>
                
                <p class="footer_c">
                    Powered by <a href="https://github.com/satheesh22g" target="_blank">satheesh</a>
                </p>
            </div>
        </div>  {% endif %}
        <script>
  
$(function(){
   $(".c_h").click(function(e) {
            if ($(".chat_container").is(":visible")) {
                $(".c_h .right_c .mini").text("+")
            } else {
                $(".c_h .right_c .mini").text("▼")
            }
            $(".chat_container").slideToggle("slow");
            return false
        });
});</script>
    </body>
</html>