

<html>
    <head>
        <title>Register</title>
                 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'nav.js') }}" ></script>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
   
    <body>

        
         <div class="container">
          <a href="{{ url_for('dashboard') }}">
            <img height="90px" width="220px" style=" display: block;margin-left: auto;margin-right: auto;margin-top: 20px;" src="{{ url_for('static', filename='largeicon.png') }}"></a>
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign Up</h3>
               
            </div>
            <div class="card-body">
                  <form action="{{ url_for('register') }}" method="post">
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <select name="usertyp" required maxlength="30">
                      <option value="Student">Student</option>
                      <option value="Faculty">Faculty</option>
                      <option value="HOD">HOD</option>
                      <option value="counselor">counselor</option>
                    </select>
                    </div>
                    <div class="input-group form-group">
                     
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        
                      <input class="form-control" name="name" type="text" placeholder="Your Name" required>
                        
                    </div>
                    <div class="input-group form-group">
                     
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      
                    <input class="form-control" name="username" type="text" placeholder="Roll Number" required maxlength="10">
                      
                  </div>
                    
                    
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                         <input class="form-control" name="password" type="password" placeholder="password" required maxlength="30" id="myInput"> 
                      
                    </div>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <!--pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"-->
                       <input class="form-control" type="password" placeholder="Confirm Password" id="confirm_password" required>
                    </div>
                     <div style="padding-left: 15px;color: white;">
                      <input type="checkbox" onclick="myFunction()" style="padding-right: 5px;">Show Password
                    </div>
                   
                    <div class="form-group">
                        <input type="submit" value="SignUp" class="btn float-right login_btn">
                    </div>
                </form>
                <p style="color: red;">{{message}}</p>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Do have an account?<a href="{{ url_for('login') }}">Login</a>
                </div>
               
            </div>
        </div>
    </div>
</div>
<script>
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
var password = document.getElementById("myInput")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
    </body>
</html>
