{% include "nav.html" %}

<html>
    <head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
         
            </style> 
            
    </head>
<body style="background-image:url('/static/bg2.png');">
  <div class = "panel panel-primary" style="width: 60%;margin-top: 10%;margin-left: 7%;">
    <div class = "panel-heading col-md-12">
       <h3 class = "panel-title col-md-6">Attendance</h3>
       <span class="col-md-4"></span>
       <a class="btn btn-default col-md-2" href="{{ url_for('dashboard') }}">Back</a>
    </div>
   
    <table class = "table">
       <tr style="background-color: beige;">
          <th>Roll Number</th>
          <th>Name</th>
          <th>Attendance</th>
       </tr>
        {% for result in results %}
       <tr>
           <td>{{ result.student_id }}</td>
     <td>{{ result.sname }}</td>
     <td>{{ result.attend }}</td>
       </tr>
       {% endfor %}
    </table>
 </div>
    
</body>
    </html>