<!DOCTYPE html>
<html>
<head>
  <title>Form in Bootstrap</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  {% include "nav.html" %}

  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h1 class="text-center mb-4">Education Search Hub</h1>
        <form action="{{ url_for('query_set') }}" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" name = "query" placeholder="Search..." aria-label="Search input" required>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
      <div class="alert text-center error-message">
          {% for message in messages %}
              <p style="color: brown;">{{ message }}</p>
          {% endfor %}
      </div>
  {% endif %}
{% endwith %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
